@model HRApplication.WWW.Models.JobOffer.DetailsJobOfferViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<hr/>

<div class="row col-9">
    <div class="form-group col-3">
        <h5 class="control-label">@Html.DisplayNameFor(model => model.Position)</h5>
        <input type="text" readonly="" placeholder="@Model.Position" novalidate="novalidate" class="form-control">
    </div>
</div>
<div class="row col-9">
    <div class="form-group col-9">
        <h5 class="control-label">@Html.DisplayNameFor(model => model.Description)</h5>
        <textarea type="text" readonly="" novalidate="novalidate" class="form-control">@Model.Description</textarea>
    </div>
</div>
<div class="row col-9">
    <div class="form-group col-3">
        <h5 class="control-label">@Html.DisplayNameFor(model => model.ContractType)</h5>
        <input type="text" readonly="" placeholder="@Model.ContractType" novalidate="novalidate" class="form-control">
    </div>
    <div class="form-group col-3">
        <h5 class="control-label">@Html.DisplayNameFor(model => model.PartTimeWork)</h5>
        @if (Model.PartTimeWork)
        {
            <input type="text" readonly="" placeholder="Tak" novalidate="novalidate" class="form-control">
        }
        else
        {
            <input type="text" readonly="" placeholder="Nie" novalidate="novalidate" class="form-control">
        }
    </div>
    <div class="form-group col-3">
        <h5 class="control-label">@Html.DisplayNameFor(model => model.HoursPerWeek)</h5>
        <input type="text" readonly="" placeholder="@Model.HoursPerWeek" novalidate="novalidate" class="form-control">
    </div>
</div>
<hr />
<div class="row col-9">
    <div class="form-group col-6">
        <h5 class="control-label">@Html.DisplayNameFor(model => model.Salary)</h5>
        <input type="text" readonly="" placeholder="@Model.Salary" novalidate="novalidate" class="form-control">
    </div>
</div>
<div class="row col-9">
    <div class="form-group col-6">
        <h5 class="control-label">@Html.DisplayNameFor(model => model.EndDate)</h5>
        <input type="text" readonly="" placeholder="@Model.EndDate" novalidate="novalidate" class="form-control">
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Powrót</a>
    @if (!Model.IsAlreadyApplied)
    {
        <button id="applyButton" class="application btn btn-success">Aplikuj</button>
    }
    else if (Model.IsNew)
    {
        <button class="editApplication btn btn-success">Edytuj swoje zgłoszenie</button>
        <button class="cancelApplication btn btn-danger">Zrezygnuj</button>
    }
    else if (Model.IsApproved)
    {
        <h5 class="badge badge-pill badge-success">Twoje zgłoszenie zostało przyjęte</h5>
    }
    else
    {
        <h5 class="badge badge-pill badge-danger">Twoje zgłoszenie zostało odrzucone</h5>
    }
</div>

    <script>
  $( function() {

    function addAplication() {
        if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
            alert('W przeglądarce, której używasz nie jest możliwa operacja załączania plików - prosimy skorzystaj z nowszej wersji przeglądarki');
            return;
        }

        input = document.getElementById('fileInput');
        if (!input.files) {
            alert("W przeglądarce, której używasz nie jest możliwa operacja załączania plików - prosimy skorzystaj z nowszej wersji przeglądarki");
        }
        else if (!input.files[0]) {
            alert("Załącz swoje CV przed naciśnięciem aplikuj");
        }
        else {
            var form = new FormData();
            form.append("file", input.files[0]);

            form.append("JobOfferId", "@Model.Id");

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "Add",
                "method": "POST",
                "headers": {
                    "cache-control": "no-cache",
                },
                "processData": false,
                "contentType": false,
                "mimeType": "multipart/form-data",
                "data": form
            }

            $.ajax(settings).done(function (response) {
                $("#dialog-form").dialog('close');
                alert("Twoje CV zostało wysłane!")
            });
        }
      }

      function editApplication() {
          if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
            alert('W przeglądarce, której używasz nie jest możliwa operacja załączania plików - prosimy skorzystaj z nowszej wersji przeglądarki');
            return;
        }

        input = document.getElementById('fileInputEdit');
        if (!input.files) {
            alert("W przeglądarce, której używasz nie jest możliwa operacja załączania plików - prosimy skorzystaj z nowszej wersji przeglądarki");
        }
        else if (!input.files[0]) {
            alert("Załącz swoje CV przed naciśnięciem aplikuj");
        }
        else {
            var form = new FormData();
            form.append("file", input.files[0]);

            form.append("JobOfferId", "@Model.Id");

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "Edit",
                "method": "POST",
                "headers": {
                    "cache-control": "no-cache",
                },
                "processData": false,
                "contentType": false,
                "mimeType": "multipart/form-data",
                "data": form
            }

            $.ajax(settings).done(function (response) {
                $("#dialog-form-edit").dialog('close');
                alert("Twoje nowe CV zostało wysłane!")
            });
        }
      }

    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 200,
      width: 500,
      modal: true,
      buttons: {
        "Aplikuj": addAplication,
        "Anuluj": function() {
          dialog.dialog( "close" );
        }
      }
      });

      dialogEdit = $("#dialog-form-edit").dialog({
          autoOpen: false,
          height: 200,
          width: 500,
          modal: true,
          buttons: {
              "Aplikuj": editApplication,
              "Anuluj": function () {
                  dialogEdit.dialog("close");
              }
          }
      });

    form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        addAplication();
      });

      form2 = dialogEdit.find("form").on("submit", function (event) {
          event.preventDefault();
          editApplication();
      });

      $(".application").button().on("click", function (e) {
        dialog.dialog( "open" );
      });

      $(".editApplication").button().on("click", function (e) {
          dialogEdit.dialog("open");
      });

      $(".cancelApplication").button().on("click", function (e) {
          if (confirm("Czy na pewno chcesz zrezygnować z ubiegania się o tę posadę?")) {
              var form = new FormData();
            form.append("JobOfferId", "@Model.Id");

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "Delete",
                "method": "POST",
                "headers": {
                    "cache-control": "no-cache",
                },
                "processData": false,
                "contentType": false,
                "mimeType": "multipart/form-data",
                "data": form
            }

              $.ajax(settings).done(function (data) {
                  var json = JSON.parse(data);
                  console.log(json);
                  window.location.href = json.redirecturl;
            });
          }
      });
  } );
    </script>

    <div id="dialog-form" title="Wyślij nam swoje CV">
        <form>
            <span class="label label-success">My zajmiemy się resztą</span>
            <fieldset>
                <input id="fileInput" type="file" required accept=".pdf" />

                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <div id="dialog-form-edit" title="Edytuj CV">
        <form>
            <span class="label label-success">Pracodawca zobaczy jego najnowszą wersję przy przeglądaniu aplikacji</span>
            <fieldset>
                <input id="fileInputEdit" type="file" required accept=".pdf" />

                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
