@model IEnumerable<HRApplication.WWW.Models.Application.TableJobOfferViewModel>

@{
    ViewData["Title"] = "Lista dostępnych ofert pracy";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @if (item.IsAlreadyAppliedf)
                        {
                            <span class="badge badge-pill badge-danger">Złożono zgłoszenie</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-success">Zaaplikuj!</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



