@model IEnumerable<HRApplication.BusinessLogic.Models.AdminPanel.UserViewModel>

@{
    ViewData["Title"] = "Zmień Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zmień Role</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Czy HR?               
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (item.IsHr)
            {
                <input id="@item.Id" onchange="SendRoles('@item.Id')" data-on="Tak" data-off="Nie" data-onstyle="success" data-offstyle="danger" type="checkbox" checked data-toggle="toggle">
            }
            else
            {
                <input id="@item.Id" onchange="SendRoles('@item.Id')" data-on="Tak" data-off="Nie" data-onstyle="success" data-offstyle="danger" type="checkbox" data-toggle="toggle">
            }
        </td>
    </tr>
}
    </tbody>
</table>

<script>
    function SendRoles(id) {
        var value = $("#" + id).prop('checked');

        var form = new FormData();
        form.append("userId", id);
        form.append("toHr", value);

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "ChangeRole",
                "method": "POST",
                "headers": {
                    "cache-control": "no-cache",
                },
                "processData": false,
                "contentType": false,
                "mimeType": "multipart/form-data",
                "data": form
            }

        $.ajax(settings).done(function (response) {

            });
    }
</script>